#include <dt-bindings/zmk/matrix_transform.h>

/{
  chosen {
    zmk,kscan = &kscan0;  
    zmk,matrix_transform = &default_transform;  
  };

  kscan0: kscan_composite {
        compatible = "zmk,kscan-composite";
        label = "KSCAN0";
        rows = <4>;
        columns = <3>;

        // Include the matrix driver
        matrix {
            kscan = <&kscan1>;
        };

        // Include the direct GPIO driver...
        direct {
            kscan = <&kscan2>;
            row-offset = <3>; // ...and shift it to not overlap
        };
    };

  kscan1: kscan_matrix {
    compatible = "zmk,kscan-gpio-matrix";
    label = "KSCAN";
    diode-direction = "col2row";
    row-gpios =
      <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
      <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
      <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    col-gpios =
      <&xiao_d 3 GPIO_ACTIVE_HIGH >,
      <&xiao_d 2 GPIO_ACTIVE_HIGH >,
      <&xiao_d 1 GPIO_ACTIVE_HIGH >;
  };

  kscan2: kscan_direct {
		compatible = "zmk,kscan-gpio-direct";

		label = "SW";

		input-gpios
			= <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
	};

  default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <4>;
        columns = <3>;
        // 
        // ├───┼───┼───┼
        // │ 1 │ 2 │ 3 │
        // ├───┼───┼───┤
        // │ 4 │ 5 │ 6 │
        // ├───┼───┼───┼
        // │ 7 │ 8 │ 9 │
        // ├───┴───┼───┤ 
        // │ SW    │ 
        // └───────┴
        map = <
            RC(0,0) RC(0,1) RC(0,2) 
            RC(1,0) RC(1,1) RC(1,2) 
            RC(2,0) RC(2,1) RC(2,2)
            RC(3,0)             
        >;
    };

  dilbert_encoder: dilbert_encoder {
        compatible = "alps,ec11";
        label = "DILBERT Endoder";
        a-gpios = <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        resolution = <4>;
        status = "disabled";
  };

  sensors {
      compatible = "zmk,keymap-sensors";
      sensors = <&dilbert_encoder>;
  };
};

&dilbert_encoder {
  status = "okay";
};


 