#include <dt-bindings/zmk/matrix_transform.h>

/{
  chosen {
    zmk,kscan = &default_kscan;
  };



  default_kscan: kscan {
    compatible = "zmk,kscan-gpio-matrix";
    label = "KSCAN";
    diode-direction = "col2row";
    row-gpios =
      <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
      <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
      <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    col-gpios =
      <&xiao_d 3 GPIO_ACTIVE_HIGH >,
      <&xiao_d 2 GPIO_ACTIVE_HIGH >,
      <&xiao_d 1 GPIO_ACTIVE_HIGH >;
  };

  kscan1: kscan_direct {
		compatible = "zmk,kscan-gpio-direct";

		label = "SW";

		input-gpios
			= <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>
			;
	};

  dilbert_encoder: dilbert_encoder {
        compatible = "alps,ec11";
        label = "DILBERT Endoder";
        a-gpios = <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        resolution = <4>;
        status = "disabled";
  };

  sensors {
      compatible = "zmk,keymap-sensors";
      sensors = <&dilbert_encoder>;
  };
};

&dilbert_encoder {
  status = "okay";
};

/ {
    macros {
        zed_em_kay: zed_em_kay {
            label = "ZM_zed_em_kay";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp Z &kp M &kp K>
                , <&macro_release &kp LSHFT>
                ;
        };
    };
};

  
