#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define BLE 1

#define NONE 0

/ {


    macros {
      ctrA: ctrA {
          label = "my_macro";
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings =  <&macro_press &kp LCTRL>,
                      <&macro_tap &kp A>,
                      <&macro_release &kp LCTRL>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &to 1           &ctrA     &bt BT_NXT 
        &kp C           &kp D           &bt BT_SEL 0   
        &kp F           &kp G           &bt BT_SEL 1 
        &kp K_MUTE      
     >;
     sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    ble_layer {
      bindings = <
        &to 0           &kp KP_DIVIDE   &kp KP_MULTIPLY 
        &kp NUMBER_7    &kp NUMBER_8    &kp NUMBER_9    
        &kp NUMBER_4    &kp NUMBER_5    &kp NUMBER_6  
        &kp K_MUTE               
      >;
      sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
    };



    
  };


};
