#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
/ {


  keymap {
    compatible = "zmk,keymap";
    default_layer {
      bindings = <
        &mt LEFT_CONTROL A &kp N8 &kp K_VOLUME_UP2
        &kp N4 &kp N5 &kp N6
        &kp N1 &kp N2 &lt BLE N3
     >;

    ble_layer {
      bindings = <
        &bt BT_CLR &bt BT_PRV &bt BT_NXT
        &out OUT_TOG &none &none
        &none &none &none
      >;
    };

     sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };


  };
};