#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
/ {

  macros {
        zed_em_kay: zed_em_kay {
            label = "ZM_zed_em_kay";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp B &kp I &kp Z>
                , <&macro_release &kp LSHFT>
                ;
        };

        zed_em_kay: selectALL {
            label = "selectALL";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LEFT_CONTROL>
                , <&macro_tap &kp A>
                , <&macro_release &kp LEFT_CONTROL>
                ;
        };
    };



  keymap {
    compatible = "zmk,keymap";
    default_layer {
      bindings = <
        &mt LEFT_CONTROL A &kp N8 &kp K_VOLUME_UP2
        &selectALL &kp N5 &kp N6
        &kp N1 &kp N2 &lt BLE N3
     >;

    ble_layer {
      bindings = <
        &bt BT_CLR &bt BT_PRV &bt BT_NXT
        &out OUT_TOG &none &none
        &none &none &none
      >;
    };

     sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };


  };
};