#include <dt-bindings/zmk/matrix_transform.h>

/{
  chosen {
    zmk,kscan = &default_kscan;
  };

  default_kscan: kscan {
    compatible = "zmk,kscan-gpio-matrix";
    label = "KSCAN";
    diode-direction = "col2row";
    row-gpios =
      <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
      <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
      <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    col-gpios =
      <&xiao_d 3 GPIO_ACTIVE_HIGH >,
      <&xiao_d 2 GPIO_ACTIVE_HIGH >,
      <&xiao_d 1 GPIO_ACTIVE_HIGH >;
  };

  dilbert_encoder: dilbert_encoder {
        compatible = "alps,ec11";
        label = "DILBERT Endoder";
        a-gpios = <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        resolution = <4>;
        status = "disabled";
  };

  sensors {
      compatible = "zmk,keymap-sensors";
      sensors = <&dilbert_encoder>;
  };
};

  &dilbert_encoder {
    status = "okay";
  };
